[Unit]
Description=The Kuuhaku Bot Instance

[Service]
ExecStart=/usr/bin/dotnet ~/Kuuhaku/Kuuhaku.dll
SyslogIdentifier=Kuuhaku
Type=notify
WorkingDirectory=~/Kuuhaku
Restart=yes
User=Kuuhaku
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target
